/*
Variables
*/
$panel_background: #2b2e39;
$active_color: #ff9800;
$light_text_color: #828898;
$text_color: #f0f0f0;
$hr_color: #1f2229;
$heading_color: #4dd166;

$gutter: 32px;
$container_width: 960px;
$main_content_padding: 48px;

/*
Rhythm mixins
*/
@import "rhythm";
@include rhythm-init();