@import "global";

@mixin typography() {

	color: $text_color;

	/*
	Rhythm
	*/
	@mixin remove_last_element_margin() {
		> * {
			//Terrible syntax -> Another gulp-sass bug
			&:last-child {
				margin-bottom: 0 !important; //TODO: better handle specificity for .main_content .two_columns divs...
			}
		}
	}

	h1, h2, h3, h4, h5, h6, p, ol, ul, hr, q, blockquote, table, figure {
		margin-top: 0;
		margin-bottom: rhythm(1);
	}

	@include remove_last_element_margin();


	/*
	Headings
	*/
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	h1, h2, h3 {
		font-weight: 300;
		color: $heading_color;
		text-transform: uppercase;
	}

	h1 {
		@include rhythm-text(30px);
	}

	h2 {
		@include rhythm-text(24px);
	}

	h3 {
		@include rhythm-text(18px);
	}

	h4, h5, h6 {
		font-size: inherit;
	}

	a {
		color: $active_color;
		transition: color 300ms;

		&:hover {
			color: inherit;
		}
	}

	blockquote {
		@include remove_last_element_margin();
		border-left: 5px solid $heading_color;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		font-style: italic;
		@include rhythm-text(18px, 1);
	}

	ul {
		list-style: none;

		> li {
			position: relative;

			&::before {
				position: absolute;
				content: '-';
				left: -20px;
				margin-top: -2px;
				font-size: 28px;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				color: $heading_color;
			}
		}

		ul, ol { //any nested ul
			margin-bottom: 0;
		}
	}

	ol {
		list-style: none;
		counter-reset: ol-counter;

		> li {
			position: relative;
			counter-increment: ol-counter;

			&::before {
				position: absolute;
				content: counter( ol-counter ) '.';
				left: -20px;
				color: $heading_color;
			}
		}

		ul, ol {
			margin-bottom: 0;
		}
	}

	figure {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	figcaption {
		@include rhythm-text(12px, 2);
		font-style: italic;
		text-align: center;
	}

	img {
		display: block;
	}

	.image_link {
		position: relative;
		display: block;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			right: 0;
			background: rgba( $heading_color, 0.5 );
			opacity: 0;
			transition: opacity 300ms;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	.two_columns {
		font-size: 0;
		margin-bottom: rhythm(1);

		}
		.two_columns__column {
			@include remove_last_element_margin(); //nested extends don't work with gulp-sass yet
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
			width: calc( 50% - #{($gutter / 2)} );

			&:first-of-type {
				margin-right: $gutter;
			}
		}

	.three_columns {
		font-size: 0;
		margin-bottom: rhythm(1);

		}
		.three_columns__column {
			@include remove_last_element_margin();
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
			width: calc( 33.3% - #{( ( $gutter * 2 ) / 3)} );
			margin-right: $gutter;

			&:last-of-type {
				margin-right: 0;
			}
		}

	.metadata {
		@include rhythm_text(12px);
		font-style: italic;
		text-align: center;
	}


}