@import "global";

@mixin typography() {

	color: $text_color;

	/*
	Rhythm
	*/
	@mixin remove_last_element_margin() {
		> * {
			//Terrible syntax -> Another gulp-sass bug
			&:last-child {
				margin-bottom: 0 !important; //TODO: better handle specificity for .main_content .two_columns divs...
			}
		}
	}

	h1, h2, h3, h4, h5, h6, p, ol, ul, hr, q, blockquote, table, figure, hr, .image_gallery, .article_navigation, .youtube_gallery {
		margin-top: 0;
		margin-bottom: rhythm(1);
	}

	@include remove_last_element_margin();


	/*
	Headings
	*/
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
	}

	h1, h2, h3 {
		font-weight: 300;
		color: $heading_color;
		text-transform: uppercase;
	}

	h1 {
		@include rhythm-text(30px);
	}

	h2 {
		@include rhythm-text(24px);
	}

	h3 {
		@include rhythm-text(18px);
	}

	h4, h5, h6 {
		font-size: inherit;
	}

	a {
		color: $active_color;
		transition: color 300ms;

		&:hover {
			color: inherit;
		}
	}

	blockquote {
		@include remove_last_element_margin();
		border-left: 5px solid $heading_color;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		font-style: italic;
		@include rhythm-text(18px, 1);
	}

	ul {
		list-style: none;

		> li {
			position: relative;

			&::before {
				position: absolute;
				content: '-';
				left: -20px;
				margin-top: -2px;
				font-size: 28px;
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				color: $heading_color;
			}
		}

		ul, ol { //any nested ul
			margin-bottom: 0;
		}
	}

	ol {
		list-style: none;
		counter-reset: ol-counter;

		> li {
			position: relative;
			counter-increment: ol-counter;

			&::before {
				position: absolute;
				content: counter( ol-counter ) '.';
				left: -20px;
				color: $heading_color;
			}
		}

		ul, ol {
			margin-bottom: 0;
		}
	}

	figure {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	figcaption {
		@include rhythm-text(12px, 2);
		font-style: italic;
		text-align: center;
	}

	img {
		display: block;
	}

	hr {
		height: rhythm( 1 );
		border: none;
		position: relative;

		&::after {
			content: '';
			height: 1px;
			background: $hr_color;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
		}
	}

	.image_link {
		position: relative;
		display: block;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			right: 0;
			background: rgba( $active_color, 0.75 );
			opacity: 0;
			transition: opacity 300ms;
			z-index: 10;
		}

		&::before {
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -( 24px / 2 );
			margin-top: -( 24px / 2 );
			@include svg_sprite_lightbox_icon();
			opacity: 0;
			transition: opacity 300ms;
			z-index: 20;
		}

		&:hover::after,
		&:hover::before {
			opacity: 1;
		}
	}

	.two_columns {
		font-size: 0;
		margin-bottom: rhythm(1);

		}
		.two_columns__column {
			@include remove_last_element_margin(); //nested extends don't work with gulp-sass yet
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
			width: calc( 50% - #{($gutter / 2)} );

			&:first-of-type {
				margin-right: $gutter;
			}
		}

	.three_columns {
		font-size: 0;
		margin-bottom: rhythm(1);

		}
		.three_columns__column {
			@include remove_last_element_margin();
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
			width: calc( 33.3% - #{( ( $gutter * 2 ) / 3)} );
			margin-right: $gutter;

			&:last-of-type {
				margin-right: 0;
			}
		}

	.metadata {
		@include rhythm_text(12px);
		font-style: italic;
		text-align: center;
	}

	.download_link {
		display: inline-block;
		left: 50%;
		transform: translateX( -50% );
		font-weight: 300;
		color: inherit;
		text-decoration: none;
		@include rhythm-text( 16px, 2 );
		position: relative;
		padding-left: 50px;

		&:hover {
			color: $active_color;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			height: 28px;
			width: 30px;
			left: 0;
			top: 50%;
			margin-top: -( 28px / 2 );
			@include svg_sprite_download_cloud();
		}
	}

	.image_gallery {
		font-size: 0;
		margin-bottom: 0;

		a {
			font-size: 1rem;
			vertical-align: top;
			display: inline-block;
			width: calc( 25% - #{( ( rhythm(1) * 3 ) / 4 )} );
			margin-right: rhythm(1);
			margin-bottom: rhythm(1);

			&:nth-of-type( 4n ) {
				margin-right: 0;
			}
		}
		}
		.image_gallery__link {
			display: block;
			height: 124px;
			position: relative;
			text-align: center;
			color: inherit;
			text-decoration: none;
			@include rhythm-text( 16px , 1);
			font-weight: 300;
			padding-top: 80px;
			
			&::before {
				content: '';
				width: 25px;
				height: 24px;
				position: absolute;
				left: 50%;
				margin-left: -( 25px / 2 );
				top: 40px;
				@include svg_sprite_gallery_thumb();
			}

			&:hover {
				color: $active_color;
			}
		}

	.article_summary_heading {
		@include rhythm-text( 18px, 1 );
		margin-bottom: 0;
		text-align: left;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: #FFF;
				text-decoration: underline;
			}
		}
	}

	.article_summary_date {
		color: $light_text_color;
		@include rhythm-text( 12px, 1 );
	}

	.article_summary_more_link {
		font-weight: 300;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.article_summary_image {
		&::before {
			display: none;
		}
	}

	.article_navigation {
		}
		@mixin article_navigation_links {
			color: #FFF;
			text-decoration: none;
			font-weight: 300;

			&:hover {
				color: $active_color;
				text-decoration: underline;
			}
		}
		.article_navigation__left {
			@include article_navigation_links();
		}
		.article_navigation__right {
			@include article_navigation_links();
			float: right;
		}

	.youtube_gallery {
		font-size: 0;
		}

		.youtube_gallery__featured_movie {
			margin-bottom: rhythm(1);
		}

		.youtube_gallery__thumbnail {
			font-size: 1rem;
			display: inline-block;
			vertical-align: top;
			width: calc( 33.3% - #{( ( $gutter * 2 ) / 3 )} );
			margin-right: $gutter;

			&:nth-of-type( 3n ) {
				margin-right: 0;
			}

			figcaption {
				font-style: normal;
				@include rhythm-text( 13px, 1 );
			}

			$play_button_size: 30px;

			a {
				display: block;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -($play_button_size/2);
					margin-left: -($play_button_size/2);
					border-style: solid;
					border-width: $play_button_size/2 0 $play_button_size/2 $play_button_size;
					border-color: transparent transparent transparent #FFF;
					z-index: 20;
					opacity: 0;
					transition-property: opacity, border-width, height;
					transition-duration: 300ms;
				}

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					top: 0;
					right: 0;
					background: rgba( $active_color, 0.75 );
					opacity: 0;
					transition: opacity 300ms;
					z-index: 10;
				}

				&:hover::after,
				&:hover::before {
					opacity: 1;
				}

				img {
					display: block;
				}
			}

			&.playing a::before {
				height: $play_button_size;
				border-width: 0 0 0 $play_button_size;
			}

			}

			.youtube_gallery__thumbnail__heading {
				color: inherit;
				text-transform: none;
				font-weight: bold;
				@include rhythm-text( 14px, 2 );
				margin-bottom: 0;
			}

}