@import "global";

@import "normalize";
@import "svg_sprite";

/*
Reset
*/
html {
	@include rhythm-normalize();
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*
Modules
*/
@import "modules";


/*
Typography
*/
body {
	font-family: 'Roboto', sans-serif;
}
.main_content {
	@import "typography";
	@include typography();
}

/*
Layout
*/
html {
	height: 100%;
}
body {
	background: #1f2229;
	min-height: 100%;
	position: relative;
}

$side_indicators_image_width: 149px;

%side_indicators {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: $side_indicators_image_width;
	background-repeat: repeat-y;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 50%;
		width: $side_indicators_image_width;
		height: 60px;
	}

	&::after {
		content: '';
		position: fixed;
		bottom: 0;
		left: 50%;
		width: $side_indicators_image_width;
		height: 60px;
	}
}
	%side_indicators__indicator {
		position: fixed;
		left: 50%;
		top: 50%;
		margin-top: -( 24px / 2 );
		height: 24px;
		line-height: 24px;
		color: #FFF;
		text-align: center;
		font-size: 14px;
		font-style: italic;
	}

.speedtape {
	@extend %side_indicators;
	$left_margin: ( - ( $container_width / 2 ) - $side_indicators_image_width - $gutter );

	margin-left: $left_margin;
	@include svg_sprite_lines_left();

	&::before {
		margin-left: $left_margin;
		@include svg_sprite_lines_left_top();
	}

	&::after {
		margin-left: $left_margin;
		@include svg_sprite_lines_left_bottom();
	}

}
	.speedtape__indicator {
		@extend %side_indicators__indicator;
		@include svg_sprite_lines_left_indicator();
		margin-left: ( - ( $container_width / 2 ) - $gutter - 105px );
		width: 43px;
		padding-right: 10px;

	}



.altimeter {
	@extend %side_indicators;
	$right_margin: ( $container_width / 2 ) + $gutter;

	margin-left: $right_margin;
	@include svg_sprite_lines_right();

	&::before {
		margin-left: $right_margin;
		@include svg_sprite_lines_right_top();
	}

	&::after {
		margin-left: $right_margin;
		@include svg_sprite_lines_right_bottom();
	}

}
	.altimeter__indicator {
		@extend %side_indicators__indicator;
		@include svg_sprite_lines_right_indicator();
		margin-left:  ( $container_width / 2 ) + $gutter + 60px;
		width: 58px;
		padding-left: 10px;
	}


.container {
	width: $container_width;
	margin: 0 auto;
	padding: $gutter 0;
	position: relative;
	min-height: 100%;
}

$header_height: 196px;
.main_header {
	@extend %clearfix;
}
	.main_header__logo {
		width: 336px;
		float: left;
		height: $header_height;
		position: relative;
	}
		.main_header__logo__link {
			$width: 200px;
			$height: 100px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: - $width / 2;
			margin-top: - $height / 2;

			img {
				display: block;
			}
		}

	.main_header__nav {
		width: 592px;
		float: right;
		height: $header_height;
		position: relative;
	}

		$menu_button_width: 112px;
		$menu_button_margin: 15px;
		.main_header__nav__menu {
			list-style: none;
			display: block;
			padding-left: 0;
			margin-top: 0;
			position: absolute;
			font-size: 0;
			width: ( $menu_button_width * 4 + $menu_button_margin * 3 );
			left: 50%;
			top: 50%;
			transform: translate( -50%, -50% );
		}

			.main_header__nav__menu__item {
				@extend .button;
				display: inline-block;
				width: $menu_button_width;
				margin: 0 $menu_button_margin $menu_button_margin 0;
				font-size: 1rem;

				&:nth-of-type( 4n ) {
					margin-right: 0;
				}

				&:nth-of-type( n + 5 ) {
					margin-bottom: 0;
				}

				a {
					//Duplicated from .button due to libsass bug https://github.com/sass/libsass/issues/146
					color: inherit;
					text-decoration: inherit;
					display: block;
					padding: 0 10px;
				}
			}

.main_content {

}

.submenu {

	}
	.submenu__menu {
		display: block;
		list-style: none;
		padding-left: 0;
		text-align: center;
		position: relative;
		}
		.submenu__menu__item {
			//@extend .button; bug in gulp-sass
			display: inline-block;
			font-size: 11px;
			height: 35px;
			line-height: 35px;
			margin: 0 10px $gutter;

			&::before {
				display: none;
			}

			a {
				color: inherit;

				&:hover {
					color: $active_color;
				}
			}
		}
		.submenu__menu::after {
			content: '';
			position: absolute;
			left: -( $main_content_padding + 1px );
			right: -( $main_content_padding + 1px );
			bottom: 0;
			height: 2px;
			border-bottom: 1px solid $hr_color;
		}

.main_footer {
	font-weight: 300;
	text-transform: uppercase;
	color: $light_text_color;
	@include rhythm-text(12px);

	a {
		color: inherit;
		text-decoration: none;
		transition: color 300ms;

		&:hover {
			color: $text_color;
		}
	}

	}
	.main_footer__made_by {
		float: right;
	}