@import "normalize";
@import "rhythm";

/*
Variables
*/
$panel_background: #2b2e39;
$gutter: 32px;
$container_width: 960px;

html {
	@include rhythm-init(14px, 1.7, 'golden section');
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*
Modules
*/
%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.panel {
	background: $panel_background;
	background-repeat: no-repeat;
	background-image:
		url('../images/screw.png'),url('../images/screw.png'), url('../images/screw.png'), url('../images/screw.png'),
		linear-gradient( to bottom, #3d4150 0%, #3d4150 1px, #30343f 1px, #30343f 2px, #2a2d37 2px, #2a2d37 3px );
	background-position: left top, right top, left bottom, right bottom;

	border-left: 1px solid #30343f;
	border-right: 1px solid #30343f;

	box-shadow:
		0 3px 15px -3px rgba( 0, 0, 0, 0.8 ),
		0 -5px 5px -2px rgba( 255, 255, 255, 0.05 );
}

/*
Typography
*/
body {
	font-family: 'Roboto', sans-serif;
}

/*
Layout
*/
html {
	height: 100%;
}
body {
	background: #1f2229;
	min-height: 100%;
	position: relative;
}

$side_indicators_image_width: 149px;

%side_indicators {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: $side_indicators_image_width;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 50%;
		width: $side_indicators_image_width;
		height: 60px;
	}

	&::after {
		content: '';
		position: fixed;
		bottom: 0;
		left: 50%;
		width: $side_indicators_image_width;
		height: 60px;
	}
}
	%side_indicators__indicator {
		position: fixed;
		left: 50%;
		top: 50%;
		margin-top: -( 24px / 2 );
		height: 24px;
		line-height: 24px;
		color: #FFF;
		text-align: center;
		font-size: 14px;
		font-style: italic;
	}

.speedtape {
	@extend %side_indicators;
	$left_margin: ( - ( $container_width / 2 ) - $side_indicators_image_width - $gutter );

	margin-left: $left_margin;
	background-image: url('../images/lines_left.png');

	&::before {
		margin-left: $left_margin;
		background-image: url("../images/lines_left_top.png");

	}

	&::after {
		margin-left: $left_margin;
		background-image: url("../images/lines_left_bottom.png");
	}

}
	.speedtape__indicator {
		@extend %side_indicators__indicator;
		background-image: url("../images/lines_left_indicator.png");
		margin-left: ( - ( $container_width / 2 ) - $gutter - 105px );
		width: 43px;
		padding-right: 10px;

	}



.altimeter {
	@extend %side_indicators;
	$right_margin: ( $container_width / 2 ) + $gutter;

	margin-left: $right_margin;
	background-image: url('../images/lines_right.png');


	&::before {
		margin-left: $right_margin;
		background-image: url("../images/lines_right_top.png");

	}

	&::after {
		margin-left: $right_margin;
		background-image: url("../images/lines_right_bottom.png");

	}

}
	.altimeter__indicator {
		@extend %side_indicators__indicator;
		background-image: url("../images/lines_right_indicator.png");
		margin-left:  ( $container_width / 2 ) + $gutter + 60px;
		width: 58px;
		padding-left: 10px;

	}


.container {
	width: $container_width;
	margin: 0 auto;
	padding: $gutter 0;
	position: relative;
	min-height: 100%;
}

$header_height: 196px;
.main_header {
	@extend %clearfix;
}
	.main_header__logo {
		width: 336px;
		float: left;
		height: $header_height;
	}

	.main_header__nav {
		width: 592px;
		float: right;
		height: $header_height;
	}