@import "normalize";
@import "rhythm";
@import "svg_sprite";

/*
Variables
*/
$panel_background: #2b2e39;
$active_color: #ff9800;
$gutter: 32px;
$container_width: 960px;

html {
	@include rhythm-init(14px, 1.7, 'golden section');
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*
Modules
*/
%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin panel_background_image( $url_suffix: '' ) {
	background-image:
		url('../images/screw#{$url_suffix}.png'),
		url('../images/screw#{$url_suffix}.png'),
		url('../images/screw#{$url_suffix}.png'),
		url('../images/screw#{$url_suffix}.png'),
		linear-gradient( to bottom, #3d4150 0%, #3d4150 1px, #30343f 1px, #30343f 2px, #2a2d37 2px, #2a2d37 3px );
}

.panel {
	background: $panel_background;
	background-repeat: no-repeat;
	@include panel_background_image();
	background-size:
		37px 36px,
		37px 36px,
		37px 36px,
		37px 36px,
		auto auto;
	background-position: left top, right top, left bottom, right bottom;

	@media
		only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
		only screen and ( min-resolution: 124.8dpi ) {

		@include panel_background_image( '@2x' );

	}


	border-left: 1px solid #30343f;
	border-right: 1px solid #30343f;

	box-shadow:
		0 3px 15px -3px rgba( 0, 0, 0, 0.8 ),
		0 -5px 5px -2px rgba( 255, 255, 255, 0.05 );

	padding: 10px 48px;
}

.button {
	background-image: linear-gradient( to bottom, #3c3f49 0%, #3c3f49 2px, #2f323d 2px, #2f323d 3px, #363943 100% );
	box-shadow:
		0 3px 15px -3px rgba( 0, 0, 0, 0.8 ),
		0 -5px 5px -2px rgba( 255, 255, 255, 0.05 );
	border: 1px solid #3e414b;
	border-top-color: #585a63;
	border-bottom-color: #363943;

	height: 50px;
	line-height: 50px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	transition-property: border-color, color;
	transition-duration: 300ms;

	a {
		color: inherit;
		text-decoration: inherit;
		display: block;
		padding: 0 10px;
	}

	&.active,
	&:hover {
		border-color: $active_color;
		color: $active_color;
	}
}

/*
Typography
*/
body {
	font-family: 'Roboto', sans-serif;
}

/*
Layout
*/
html {
	height: 100%;
}
body {
	background: #1f2229;
	min-height: 100%;
	position: relative;
}

$side_indicators_image_width: 149px;

%side_indicators {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: $side_indicators_image_width;
	background-repeat: repeat-y;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 50%;
		width: $side_indicators_image_width;
		height: 60px;
	}

	&::after {
		content: '';
		position: fixed;
		bottom: 0;
		left: 50%;
		width: $side_indicators_image_width;
		height: 60px;
	}
}
	%side_indicators__indicator {
		position: fixed;
		left: 50%;
		top: 50%;
		margin-top: -( 24px / 2 );
		height: 24px;
		line-height: 24px;
		color: #FFF;
		text-align: center;
		font-size: 14px;
		font-style: italic;
	}

.speedtape {
	@extend %side_indicators;
	$left_margin: ( - ( $container_width / 2 ) - $side_indicators_image_width - $gutter );

	margin-left: $left_margin;
	@include svg_sprite_lines_left();

	&::before {
		margin-left: $left_margin;
		@include svg_sprite_lines_left_top();
	}

	&::after {
		margin-left: $left_margin;
		@include svg_sprite_lines_left_bottom();
	}

}
	.speedtape__indicator {
		@extend %side_indicators__indicator;
		@include svg_sprite_lines_left_indicator();
		margin-left: ( - ( $container_width / 2 ) - $gutter - 105px );
		width: 43px;
		padding-right: 10px;

	}



.altimeter {
	@extend %side_indicators;
	$right_margin: ( $container_width / 2 ) + $gutter;

	margin-left: $right_margin;
	@include svg_sprite_lines_right();

	&::before {
		margin-left: $right_margin;
		@include svg_sprite_lines_right_top();
	}

	&::after {
		margin-left: $right_margin;
		@include svg_sprite_lines_right_bottom();
	}

}
	.altimeter__indicator {
		@extend %side_indicators__indicator;
		@include svg_sprite_lines_right_indicator();
		margin-left:  ( $container_width / 2 ) + $gutter + 60px;
		width: 58px;
		padding-left: 10px;
	}


.container {
	width: $container_width;
	margin: 0 auto;
	padding: $gutter 0;
	position: relative;
	min-height: 100%;
}

$header_height: 196px;
.main_header {
	@extend %clearfix;
}
	.main_header__logo {
		width: 336px;
		float: left;
		height: $header_height;
		position: relative;
	}
		.main_header__logo__link {
			$width: 200px;
			$height: 100px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: - $width / 2;
			margin-top: - $height / 2;

			img {
				display: block;
			}
		}

	.main_header__nav {
		width: 592px;
		float: right;
		height: $header_height;
		position: relative;
	}

		$menu_button_width: 112px;
		$menu_button_margin: 15px;
		.main_header__nav__menu {
			list-style: none;
			display: block;
			padding-left: 0;
			margin-top: 0;
			position: absolute;
			font-size: 0;
			width: ( $menu_button_width * 4 + $menu_button_margin * 3 );
			left: 50%;
			top: 50%;
			transform: translate( -50%, -50% );
		}

			.main_header__nav__menu__item {
				@extend .button;
				display: inline-block;
				width: $menu_button_width;
				margin: 0 $menu_button_margin $menu_button_margin 0;
				font-size: 1rem;

				&:nth-of-type( 4n ) {
					margin-right: 0;
				}

				&:nth-of-type( n + 5 ) {
					margin-bottom: 0;
				}

				a {
					//Duplicated from .button due to libsass bug https://github.com/sass/libsass/issues/146
					color: inherit;
					text-decoration: inherit;
					display: block;
					padding: 0 10px;
				}
			}

.main_content {
	margin-top: $gutter;
}